<h3>A list of phone contacts:</h3>
<ul>
  <% @contacts.each() do |contact| %>
  <% tag = "/contact/" + contact.name().name() %>
  <li><a href=<%= tag %>>
    <%= contact.name().name() %>
    </a> </li>
  <% end %>
</ul>

<h3>Enter a contact</h3>

<div class='form'>
  <form action='/submit' method='post'>
    <div class='form-group'>
      <label for='name'>Contact name</label>
      <input type='text' name='name' id='name' class='form-control'>
    </div>
    <div class='form-group'>
      <label for='home_phone'>Contact home phone</label>
      <input type='text' name='home_phone' id='home_phone' class='form-control'>
    </div>
    <div class='form-group'>
      <label for='work_phone'>Contact work phone</label>
      <input type='text' name='work_phone' id='work_phone' class='form-control'>
    </div>
    <div class='form-group'>
      <label for='cell_phone'>Contact cell phone</label>
      <input type='text' name='cell_phone' id='cell_phone' class='form-control'>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Add this contact</button>
  </form>
</div>

</div>
